#app {
    font-family:微软雅黑, 'Avenir', Helvetica, Arial, sans-serif;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #2c3e50;
    min-width: 1080px;
    overflow: hidden;
    position: relative;
    /*padding-bottom: 70px;*/
    background: #f5f5f5;
    min-height: 100vh;
    height: 100%;
}

/*header头部相关css 开始*/
.header {
    width: 100%;
    text-align: center;
    height: 64px;
    /*padding: 5px 0;*/
    background-color: lightskyblue;
    /*box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .04);*/
    position: relative;
    z-index: 2;
    min-width: 1080px;
    overflow: hidden;
}

.hd_row{
    line-height: 64px!important;
}
.hd_img{
    height: 64px
}
.hd_icon_tog{
    height: 64px;float: right;width: 30px;border: 1px solid lightgoldenrodyellow;
    cursor: pointer;
}
.hd_menu{
    float: left;
    width: 20%;
    border-right: 1px solid lightgray;
    cursor: pointer;
}
.hd_menu:hover{
    background: lightcyan;
}
.hd_menu_icon{
    line-height: 34px;height: 34px;padding: 5px;
}
.hd_menu_icon img{
    width: 30px;
    height: 30px;
}
.hd_menu_span{
    line-height: 30px;
}
.hd_menu_span:hover{
    line-height: 30px;
    color: darkblue;
    text-decoration: underline;
}

.hd_r_span{
    cursor: pointer;
    padding: 2px 6px;
    margin: 2px;
    line-height: 28px;
}

.hd_r_span:hover{
    background: lightcyan;

}

/*header头部相关css 结束*/


/*footer头部相关css 开始*/

.footer {
    background-color: lightskyblue;
    position: absolute;
    bottom: 0px;
    width: 100%;
    min-width: 1080px;
    z-index: 2;
    height: 28px;
    line-height: 28px;
}
.ft_info{
    text-align: center;
    display: block;
    width: 100%;
}

/*footer头部相关css 结束*/


/*left menu相关css 开始*/
#main-container{
    background-color: #fff!important;
    /*display: flex;*/
    width: 100%;
    height: calc(100% - 92px);
    margin: 0 auto;
    /*margin-top: 15px;*/

}


.clearfix {

}

.slider{
    width: 16.7%;
    display: inline-block;
    float: left;
    position: relative;
    height:100%;
    border: 1px outset lightskyblue;
    overflow-y: auto;
}
/*left menu相关css 结束*/



/*right content css 开始*/

.right{
    float: left;
    width: calc(100% - 17%);
    padding: 2px;
    height: 100%;
    position: relative;
    display: block;
}

/*right content css 结束*/



*{margin: 0;padding: 0;box-sizing: border-box;}
